body{
  background-color: black;
  color:white;
  text-align:center;
}

h1{
  font-size:60px;
}

h2{
  font-size:40px;
  background:red;
  padding:5px;
}


.item{
  font-size:30px;
  margin-top:30px;
}
